body {
    margin: 1em auto;
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

.logo{
    height: 62px;
    width: 100%;
    background-color: white;
    margin-top: 3em;
}

.logo-center{
    position: absolute;
    left: calc(50% + (-52.5px));
    top: 26px;
}

nav{
    grid-area: nav;

}
.nav-links{
    padding: 0;
}
.nav-links li{
    list-style-type: none;
    display: inline-block;


}
.nav-links a {
    color: #000;

    text-decoration: none;
    padding: .5em;
}
.big-title{
    font-size: 52px;
    margin: 30px 0;
}
h2{
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    margin: .2em;

}
h3{
    font-family: 'Anton', sans-serif;
    font-size:40px;
}

.last-text{
    font-family: 'Anton', sans-serif;
    font-size:32px;
    position: absolute;
    text-align: left;
    padding-left: .5em;
}



.circle{
    font-family: 'Anton', sans-serif;
    border: solid .5em white;
    display: inline-block;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    text-align: center;
    line-height: 6.5em;
    color: white;
    margin: .4em;


}
.red{
    background: #e6563b;
}
.orange{
    background-color: #eb9d3a;
}
.green{
    background-color: #73b06c;
}
.blue{
    background-color: #00aba9;
}
.imgs{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.pic-text{
    font-size: 18px;

}

.pic-size{
    width: 80%;
    height: auto;
    border: .4em solid #e6e6e6;
    border-radius: 10px;
}
.pic-footer{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-bottom: 5em;

}
.margin-right{

    margin-right: auto;
}

.sm-btn{

    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 1em;
    line-height: 18px;

}

.last-box li{
    list-style-type: none;
    margin: 2em 0;
}
.last-box{
    text-align: left;
}
.twitter{
    padding-top: 2em;
    padding-bottom: 1em;
}
.twittertxt{
    padding-top: 1em;
}
.fa-twitter{
    color: #1da1f1;
}
@media screen and (max-width: 376px){
    hr{
        display: none;
    }
    .xshide{
        display: none;


    }
}

@media screen and (min-width: 377px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:50px 40% 40%;
        grid-template-areas:
        "select select"
        "pic1 pic2"
        "pic3 pic4";
    }

    .select{
        grid-area: select;
    }

    .pic1{
          grid-area: pic1;
    }

    .pic2{
        grid-area: pic2;
    }

    .pic3{
        grid-area: pic3;
    }

    .pic4{
        grid-area: pic4;
    }
    .pic-size {
        max-height:218px ;
        width: auto;
    }



}