body {
    margin: 1em auto;
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
    text-align: center;
}

.banner{
    height: 62px;
    width: 100%;
    background-color: white;
    margin-top: 3em;
}

.logo-center{
    position: absolute;
    left: calc(50% + (-52.5px));
    top: 26px;
}
.nav-links{
    padding: 0;
}
.nav-links li{
    list-style-type: none;
    display: inline-block;


}
.nav-links a {
    color: #000;

    text-decoration: none;
    padding: .5em;
}
.big-title{
    font-size: 52px;
    margin: 30px 0;
}
h2{
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    margin: .2em;

}
h3{
    font-family: 'Anton', sans-serif;
    font-size:40px;
}

.last-text{
    font-family: 'Anton', sans-serif;
    font-size:32px;
    position: absolute;
    text-align: left;
    padding-left: .5em;

}



.circle{
    font-family: 'Anton', sans-serif;
    border: solid .5em white;
    display: inline-block;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    text-align: center;
    line-height: 6.5em;
    color: white;
    margin: .4em;


}
.red{
    background: #e6563b;
}
.orange{
    background-color: #eb9d3a;
}
.green{
    background-color: #73b06c;
}
.blue{
    background-color: #00aba9;
}
.imgs{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.pic-text{
    font-size: 18px;

}

.pic-size{
    width: 80%;
    height: auto;
    border: .4em solid #e6e6e6;
    border-radius: 10px;
}
.pic-footer{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-bottom: 5em;

}
.margin-right{

    margin-right: auto;
}

.sm-btn{

    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 1em;
    line-height: 18px;

}

.last-box li{
    list-style-type: none;
    margin: 2em 0;
}
.last-box{
    text-align: left;
}
.twitter{
    padding-top: 2em;
    padding-bottom: 1em;
}
.twittertxt{
    padding-top: 1em;
}
.fa-twitter{
    color: #1da1f1;
}

/*EXTRA SMALL MEDIA SCREEN*/
@media screen and (min-width:0) and (max-width: 731px){
    hr{
        display: none;
    }
    .xshide{
        display: none;
    }
}


/*SMALL MEDIA SCREENS*/
@media screen and (min-width: 732px) and (max-width: 1088px){


    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 40% 40%;
        grid-template-areas:
                "select select"
                "pic1 pic2"
                "pic3 pic4";
    }

    .select {
        grid-area: select;

    }

    .pic1 {
        grid-area: pic1;
        border-box: width 342px;
        padding: 1px;
    }

    .pic2 {
        grid-area: pic2;
    }

    .pic3 {
        grid-area: pic3;
    }

    .pic4 {
        grid-area: pic4;
    }

    .pic-footer{
        width: 342px;
    }

    .pic-size {
        max-height: 218px;
        width: auto;
    }

    .smhide {
        display: none;
    }

    .smnav ul {
        display: flex;
        /*width: 80%;*/
        align-content: center;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;

    }

    .margin-left {
        margin-left: auto;
    }

    .smul {
        position: relative;
        top: -10.5em;
    }

    .nav-links li {
        padding: 0 .9em;

    }
    .hr{
        width: 60%;
        color: #e6e6e6;
    }
}



/*LARGE MEDIA SCREENS*/
@media screen and (min-width: 1089px){


    .mdhide{
        display: none;
    }

    .mdnav{
        height: 62px;
        width: 100%;
        background-color: white;
        margin-top: 3em;
        display: flex;
        margin-bottom: 3em;

    }
    .banner{
        max-width: 1120px;
        margin: 0 auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo text text . . links";
    }
    .logo{
        grid-area: logo;
        position: relative;
        top: -19px;

    }
    .big-title{
        grid-area: text;
        position: relative;
        top: -32px;
        left: -35px;

    }
    .nav-links{
        grid-area: links;
        max-width: 1120px;
        margin-top: 1.5em;
        display: flex;
        margin-left: auto;
        padding:0 1em;
    }
    main {
        max-width: 1120px;
        margin: 0 auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 40% 40%;
        grid-template-areas:
                "select . the-last"
                "pic1 pic2 last-box"
                "pic3 pic4 last-box";
    }

    .select {
        grid-area: select;
        position: relative;
        right: 90px;
    }

    .pic1 {
        grid-area: pic1;

    }

    .pic2 {
        grid-area: pic2;
    }

    .pic3 {
        grid-area: pic3;
    }

    .pic4 {
        grid-area: pic4;
    }

    .the-last{
        grid-area: the-last;
        position: relative;
        right: 115px;
    }

    .last-box{
        grid-area: last-box;
        display: flex;
        flex-direction: column;
        margin-top: -25px;
    }
    .last-box ul{
        margin-top: 0;
    }

    .pic-footer{
        width: 314px;
        margin-left: 1em;
    }

    .pic-size {
        max-height: 200px;
        width: auto;
        margin-left: 1em;
    }
    .last-text{
        font-size:28px;
    }
    .hr{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 72%;
        color: #e6e6e6;
    }

}

