body{
    background-color: lightgray;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(9, 20em);
    grid-template-areas:
    "nav nav"
    "header header"
    "img1 img2"
    "img3 img4"
    "picture picture"
    "picturefooter1 picturefooter2"
    "picture picture"
    "picturefooter3 picturefooter4"
    "picture picture"
    "picturefooter5 picturefooter6"
    "picture picture"
    "picturefooter7 picturefooter8";

}

